@charset "UTF-8";

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
	background-color: #565e66;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, 
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover{
		background-color: #565e66;
	    margin-left: 10px;
	    color:white;
	   
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-treeview {
	margin-left: 10px;
}

